.sizeTag{
  border-radius: 4px;
  background: #FFF2F2;
  min-width: 30px;
  height: 34px;
  color: rgba(0,0,0,.85);
  font-size: 24px;
  text-align: center;
  line-height: 34px;
  margin-top: 8px;
  margin-right: 16px;
  padding: 0 8px;
}
