@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/input.scss";
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PingFang SC;
}
.indexContent{
  width: 100vw;
  padding: 24px 0;
  .banner{
    height: 244px;
    width: 684px;
    box-sizing: border-box;
    padding: 48px 0 0 32px;
    background: url("../../assets/images/banner.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    margin: auto auto 32px;

    .title{
      color: #F8EBC4;
      font-family: PingFang SC;
      font-weight: bold;
      font-size: 40px;
      text-align: left;
      margin-bottom: 24px;
    }
    .info{
      width: 200px;
      white-space: normal;
      color: #F8EBC4;
      font-family: PingFang SC;
      font-weight: normal;
      font-size: 24px;
      text-align: left;
    }
  }
  .counts{
    width: 686px;
    height: 98px;
    margin: 0 auto 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .aData{
      display: flex;
      flex-direction: column;
      .total{
        margin-bottom: 8px;
        .bold{
          color: #000000;
          font-weight: bold;
          font-size: 48px;
          margin-right: 8px;
        }
        .normal{
          opacity: 0.85;
          color: #000000;
          font-size: 28px;
        }
      }
      .explain{
        opacity: 0.35;
        color: #000000;
        font-size: 24px;
      }
    }
  }
  .search{
    width: 686px;
    height: 72px;
    margin: 0 auto 24px;
    border-radius: 8px;
    background: #F5F5F5;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
    .searchIcon{
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
    .placeHolder{
      opacity: 0.45;
      color: #000000;
      font-size: 28px;
    }
    .input{
      opacity: 0.45;
      color: #000000;
      font-size: 28px;
      width: 520px;
      background: none;
    }
  }
  .type{
    width: 686px;
    height: 72px;
    background: #F6F5FA;
    margin: 0 auto 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    border-radius: 10px;
    .btn{
      width: 330px;
      height: 60px;
      color: #000000;
      font-size: 28px;
      text-align: center;
      line-height: 60px;

    }
    .clicked{
      background: #FFFFFF;
      font-weight: bold;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  }
}
